/**
 * SCSS files with the .module.scss suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroCard {
  a {
    border: 1px solid var(--ifm-color-emphasis-200);
    transition: all var(--ifm-transition-fast) ease;
    transition-property: border, box-shadow;
    background-color: #e9f1f3;
    color: var(--ifm-link-color);

    &:hover {
      border-color: var(--ifm-content-card-border-active);
      text-decoration: none;
    }

    h3 {
      --ifm-h4-font-size: 16px;
      --ifm-heading-font-weight: 500;
      --ifm-heading-line-height: 150%;
      color: #191641;
      font-family: "Aeonik";
      margin: 0;
    }

    p {
      --ifm-line-height-base: 170%;
      color: #2a297a;
      margin: 0;
    }
  }
}

.svgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--ifm-svg-wrapper-border-color);
  background: var(--ifm-svg-wrapper-color);
  width: 44px;
  margin-bottom: var(--ifm-heading-margin-bottom);
}

.cardSvg {
  width: 23px;
  height: 23px;
}
